/* TITLE */

.title {
  font-family: var(--font-family-secondary, 'EB Garamond', 'Times New Roman', Georgia,  serif);
}

/* ALIGNED-TEXT */

.aligned-text {
  display: block;
}

.aligned-text--left {
  text-align: left;
}

.aligned-text--center {
  text-align: center;
}

.aligned-text--right {
  text-align: right;
  transform: translateX(-5px);
}

/* BODY */

.body {
  color: var(--color-primary, #fff);
  font-family: var(--font-family-primary, Inter, Arial, Verdana, sans-serif);
  font-size: 16px;
  line-height: 1.35;
  background-color: var(--background-color, #000);
}

/* HEADER */

.header {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  justify-content: space-between;
  min-block-size: 132px;
  padding-inline: var(--padding, 20px);
  padding-block: 24px;
}

/* LOGO */

.logo {
  inline-size: 78px;
  block-size: 15px;
}

.logo__image {
  inline-size: 100%;
  block-size: 100%;
  fill: var(--color-primary, #fff);
}

/* NAV */

.nav {
  line-height: 1.2;
}

.nav__list {
  display: grid;
  gap: 12px;
}

.nav__link--active {
  text-decoration: none;
}

/* MAIN */

.main {
  padding-inline: var(--padding, 20px);
  padding-block-start: 7px;
  background-image: url(../images/svg/cover.svg);
  background-repeat: no-repeat;
  background-size: 95%;
  background-position-y: 30px;
  background-position-x: var(--padding, 20px);
}

.main__title {
  margin-block-end: 34px;
  font-weight: 400;
  font-size: 72px;
  line-height: 1;
}

/* SECTION */

.section {
  display: grid;
}

.section--intro {
  gap: 24px;
}

.section__header {
  display: flex;
  color: var(--color-gray, #ccc);
}

.section__title {
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
}

.section__date {
  white-space: nowrap;
}
