/* TITLE */

.title {
  font-family: var(
    --font-family-secondary,
    'EB Garamond',
    'Times New Roman',
    Georgia,
    serif
  );
}

/* TEXT */

.text--fw_bold {
  font-weight: 700;
}

/* ALIGNED-TEXT */

.aligned-text {
  display: block;
}

.aligned-text--left {
  text-align: left;
}

.aligned-text--center {
  text-align: center;
}

.aligned-text--right {
  text-align: right;
}

.main__title .aligned-text--right {
  transform: translateX(-5px);
}

/* BODY */

.body {
  color: var(--color-primary, #f5f5f5);
  font-family: var(--font-family-primary, Inter, Arial, Verdana, sans-serif);
  font-size: 16px;
  line-height: 1.35;
  background-color: var(--background-color-primary, #000);
}

/* HEADER */

.header {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  justify-content: space-between;
  min-block-size: 132px;
  padding-inline: var(--padding, 20px);
  padding-block: 24px;
}

/* LOGO */

.logo {
  inline-size: 78px;
  block-size: 15px;
}

.logo__image {
  inline-size: 100%;
  block-size: 100%;
  fill: var(--color-white, #fff);
}

/* NAV */

.nav {
  line-height: 1.2;
}

.nav__list {
  display: grid;
  gap: 12px;
}

.nav__link--active {
  text-decoration: none;
}

/* MAIN */

.main {
  padding-block-start: 7px;
  background-image: url(../images/svg/cover.svg);
  background-repeat: no-repeat;
  background-size: 95%;
  background-position-y: 30px;
  background-position-x: var(--padding, 20px);
  margin-block-end: 20px;
}

.main__title {
  padding-inline: var(--padding, 20px);
  font-weight: 400;
  font-size: 72px;
  line-height: 1;
}

/* SECTION */

.section {
  display: grid;
  gap: 32px;
  padding-inline: var(--padding, 20px);
  padding-block: 40px;
}

.section--theme_alternative {
  color: var(--color-secondary, #f5f5f5);
  background-color: var(--background-color-secondary, #fee42a);
}

.section--intro {
  gap: 24px;
  padding-block: 35px 38px;
}

.section__header {
  display: flex;
  color: var(--color-gray, #ccc);
}

.section__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.15;
}

.section__title--size_s {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.section__date {
  white-space: nowrap;
}

.section__lead {
  font-size: 20px;
}

.section__list {
  display: grid;
  gap: 16px;
  padding-inline-start: 20px;
  font-size: 16px;
  list-style: initial;
}

/* CARD-LIST */

.card-list {
  display: grid;
  gap: 32px;
}

/* CARD */

.card {
  display: grid;
  gap: 8px;
  padding: 20px;
  border-radius: 30px;
  background-color: var(--background-color-card, #343434);
}

.card--theme_alternative {
  background-color: var(--background-color-secondary, #fee42a);
  color: var(--color-secondary, #131313);
}

.card__image {
  max-inline-size: 100px;
  aspect-ratio: 1 / 1;
}

.card__author {
  font-weight: 700;
}

.card__title {
  font-weight: 500;
  font-size: 22px;
}

/* FOOTER */

.footer {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  align-items: center;
  border-block-start: 1px solid var(--background-color-secondary, #fee42a);
}

.footer__social-list {
  display: flex;
  gap: 16px;
}

.footer__social-link {
  font-size: 14px;
  line-height: 1.25;
  text-decoration: none;
}
