:root {
  --color-primary: #fff;
  --background-color: #000;
  --font-family-primary: Inter, Arial, Verdana, sans-serif;
  --font-family-secondary: 'EB Garamond', 'Times New Roman', Georgia,  serif;
  --padding: 20px;
}
